body {
  font-family: 'Seven Segment', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the container takes the full height of the viewport */
  margin: 0; /* Remove default margin to avoid unwanted space */
  background-color: black;
  color: white;
}

.timer {
 text-align: center;
 font-size: 30px;
}


.buttons {
  
  display: flex;
  gap: 10px;
}
button {
  padding: 5px;
  border-style: none;
  color: white;
  width: 75px;
  height:30px ;

}
.editTimer {
  background-color: #3366CC;
}
.editTimer:hover {
  background-color:#3399FF ;
}
.restart {
  background-color:#FFCC33 ;

}
.restart:hover {
  background-color: #FFCC66;

}
.start {
  background-color:#009933 ;
}
.start:hover {
  background-color: #009966 ;
}
.pause {
background-color: #FF0000;
}
.pause:hover {
  background-color:#FF0066 ;

}